<table style="width: 100%; margin: 10% 0;">
    <tr>
        <td style="text-align: center; background: #F47A51; padding: 20px; border-radius: 25px;">
            <h3 class="title" style="font-size: max(2vw, 2.5vh);">
                <%= (item.text) %>
            </h3>
            <a style="width: 75%;font-size: 18px; text-align: center;margin: auto">
                <%= item.opportunityLink %>
            </a>
            <a style="width: 75%;font-size: 18px; text-align: center;margin: auto">
                <%= item.tweetLink %>
            </a>
        </td>
    </tr>
</table>